@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p,
.캐릭터-card{
    position:relative;
    top: 40px;
    font-size: 100%;
    font-family: 'Ramche';
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

body{
    background-color: #f7edf5;
}
.h1{
    color: white;
    text-align: center;
}
.선택창{
    text-align: center;
}